Importamos las librerias

In [24]:
from subprocess import check_output
comando = "pip install tabulate"
check_output(comando, shell=True)
import sqlite3
from sqlite3 import Error
from tabulate import tabulate

Método para conectarse a la base de datos

In [25]:
def sql_connection():

    try:

        con = sqlite3.connect('tienda.db')

        return con

    except Error:

        print(Error)

Método para crear la tabla

In [26]:
def sql_Creartabla(con):

    cursorObj = con.cursor()
    try:
        cursorObj.execute("CREATE TABLE clientes(id integer PRIMARY KEY AUTOINCREMENT, nombre text, apellidos, telefono text)")
    except:
        print("La tabla ya ha sido creada")
    con.commit()

Método para añadir un cliente a la tabla

In [27]:
def sql_añadirCliente(con):
    cursorObj = con.cursor()
    print("Añadir un cliente:")
    nombre=input("Introduce el nombre:")
    nombre=nombre.lower()
    apellidos = input("Introduce los 2 apellidos:")
    apellidos=apellidos.lower()
    telefono = input("Introduce el telefono:")

    try:
        cursorObj.execute(f"INSERT INTO clientes ('nombre','apellidos','telefono') VALUES('{nombre}','{apellidos}','{telefono}')")
        con.commit()
    except:
        print("Ha habido un error con los datos introducidos")

Método que modifica un registro de la tabla

In [28]:
def sql_update(con):
    resfiltro1=input("Introduzca el id del cliente que desea modificar\n")
    filtro2= input("¿Que quieres cambiar?\nnombre\nappellidos\ntelefono\n")
    filtro2=filtro2.lower()
    resfiltro2=input(f"Introduce el nuevo\n")
    resfiltro2=resfiltro2.lower()

    cursorObj = con.cursor()
    try:
        cursorObj.execute(f'UPDATE clientes SET {filtro2} = "{resfiltro2}" where id = {resfiltro1}')
        con.commit()
    except:
        print("Ha habido un error con los datos introducidos")

Metodo para mostrar los registros de la tabla

In [36]:
def sql_select(con):
    filtros=input("Introduzca las columnas que desea ver separadas por',' o si quiere ver todo introduzca '*'\n")
    filtros=filtros.lower()
    cursorObj = con.cursor()
    try:
        mostrar=f'SELECT id,{filtros} FROM clientes' if filtros!="*" else f'SELECT{filtros} FROM clientes'
        cursorObj.execute(mostrar)
        imprimir=[]

        nombreColum = list(map(lambda x: x[0], cursorObj.description))

        for row in cursorObj.fetchall():
            i = 0
            cliente=[]
            for colums in row:
                cliente.append(row[i])
                i += 1
            imprimir.append(cliente)

        salida=tabulate(imprimir,headers=nombreColum) if filtros!="*" else tabulate(imprimir,headers=["id", "nombre","apellidos","telefono"])
        print(salida)
    except:
        print("Ha habido un error con los datos introducidos")

Método para borrar un registro

In [37]:
def sql_delete(con):
    filtro1=input("¿Porque columna desea filtrar su busqueda para el borrado?\nnombre\nappellidos\ntelefono\n")
    filtro1=filtro1.lower()
    resfiltro1=input(f"Borrar filas que su {filtro1} sea =  ")
    resfiltro1=resfiltro1.lower()

    cursorObj = con.cursor()

    print("Va a eliminar estos clientes: ")
    try:
        cursorObj.execute(f"SELECT * FROM clientes where {filtro1} = '{resfiltro1}'")
        #[print(row) for row in cursorObj.fetchall()]

        imprimir = []

        nombreColum = list(map(lambda x: x[0], cursorObj.description))

        for row in cursorObj.fetchall():
            i = 0
            cliente = []
            for colums in row:
                cliente.append(row[i])
                i += 1
            imprimir.append(cliente)
        salida = tabulate(imprimir, headers=nombreColum)
        print(salida)

        seguro=input("\n¿Esta usted seguro? s/n   ")

        if(seguro=="s"):
            cursorObj.execute(f"DELETE FROM clientes where {filtro1} = '{resfiltro1}'")
            con.commit()
            print("cliente/s eliminado/s")
    except:
        print("Ha habido un error con los datos introducidos")

Definimos un metodo llamado error por si surge un error en el menu que veremos ahora

In [38]:
def error():
    print("Fatal Error")

Método menú que le vamos a mostrar al usuario al principio del programa

In [ ]:
def menu(con):
    decision=int(input("¿Que quieres hacer (Elija un numero del 1 al 5?\n"
                    "1-CREAR TABLA CLIENTES\n"
                    "2-AÑADIR UN CLIENTE\n"
                    "3-MODIFICAR UN CLIENTE\n"
                    "4-MOSTRAR LOS CLIENTES\n"
                    "5-BORRAR UN CLIENTE\n"))

    switch_metodos={
        1:sql_Creartabla,
        2:sql_añadirCliente,
        3:sql_update,
        4:sql_select,
        5:sql_delete
    }
    switch_metodos.get(decision, error)(con)

Llamamos al metodo sql_conection y al método menú y le pasamos como parametro la conexíon a la base de datos

In [46]:
con = sql_connection()
menu(con)

¿Que quieres hacer (Elija un numero del 1 al 5?
1-CREAR TABLA CLIENTES
2-AÑADIR UN CLIENTE
3-MODIFICAR UN CLIENTE
4-MOSTRAR LOS CLIENTES
5-BORRAR UN CLIENTE
4
Introduzca las columnas que desea ver separadas por',' o si quiere ver todo introduzca '*'
*
  id  nombre    apellidos      telefono
----  --------  -----------  ----------
   1  juan      perez         154896325